<ion-view view-title="Seasons">
    <ion-nav-buttons side="left">
        <button class="button button-icon icon ion-navicon" 
                menu-toggle="left"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-clear" 
                ui-sref="admin.seasons.new">New</button>
    </ion-nav-buttons>
    
    <ion-content>
        <ion-list>
            <ion-item ng-repeat="item in ctrl.collection | orderBy: 'startsOn'" item="item">
                {{item.description}}
                <ion-option-button class="button-energized" 
                                   ng-click="ctrl.edit(item)">Edit</ion-option-button>
                <ion-option-button class="button-assertive" 
                                   ng-click="ctrl.remove(item)">Delete</ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>