<!-- 
------------------------------
Laxstats Client
<%= version %>-<%= timestamp %>
------------------------------ -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
        content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width"
    >
    <title></title>
    
    <link rel="stylesheet" href="lib/ionic/css/ionic.css" />
    <!-- build:css css/laxstats.css -->
    <link rel="stylesheet" href="sass/laxstats.scss" />
    <!-- /build -->
    
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="cordova.js"></script>
    <!-- build:js js/laxstats.js -->
    <script src="js/app.js"></script>
    <!-- /build -->
</head>

<body ng-app="laxstats" ng-strict-di>
    <ion-nav-view>
        <p style="text-align: center;">Content to be replaced.</p>
    </ion-nav-view>
</body>
</html>
